<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

    <div class="container" style="margin-top: 50px; margin-bottom: 100px">
        <div align="center">
            <h2>The most commonly tagged words in videos of region {{ region }} are shown below a picture</h2>
        </div>
        <br/>
        <br/>
        <br/>
    </div>
    <div class="container" style="margin-bottom: 100px">
        <div class="row">
            <div class="col-md-12">
                <div class="plots" align="center">
                    {{graph[0] | safe}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}