<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div align="center">
            <h1>Upload your dataset</h1>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <form action="{{ url_for('sentimentAnalysis')}}" method="post">
                      <div class="form-group">
                        <label for="videoid">Video Id:</label>
                        <input type="text" name="videoId" class="form-control" placeholder="Enter youtube video id" id="videoid">
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <br/>
    <br/>
    <br/>
    {% if graph %}
    <div class="container">
        <div class="plots">
            {{graph[0] |safe}}
        </div>
    </div>
    {% endif %}

{% endblock %}

{#{% extends "base.html" %}#}
{##}
{#{% block content %}#}
{#<div><h2>India - Youtube Trending Results</h2></div>#}
{##}
{#<form action="{{ url_for('sentimentAnalysis')}}" method="post">#}
{#    <input type="text" name="videoId">#}
{#    <input type="submit">#}
{#</form>#}
{##}
{#{% if graph %}#}
{#{% for elem in graph %}#}
{#<div class="plots">#}
{#    {{elem|safe}}#}
{#</div>#}
{#{% endfor %}#}
{#{% endif %}#}
{##}
{#{% endblock %}#}