<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}

    <div class="container">
        <style>
            @import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
            .description { 
                font-family: 'Raleway', sans-serif;
            }
        </style>
        <div align="center">
            <h1 class="description">View the sentimental analysis of a video</h1>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-8" style="margin-left: 200px">
                <h3>
                    <form action="{{ url_for('sentimentAnalysis')}}" method="post">
                          <div class="form-group">
                            <label class="description" for="videoid">Video Id:</label>
                            <input type="text" name="videoId" class="form-control" placeholder="Enter youtube video id" id="videoid">
                          </div>
                          <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </h3>

            </div>
        </div>
    </div>

    <br/>
    <br/>
    <br/>
    {% if graph %}
    <div class="container" align="center">
        <div class="plots-{{graph[0][1]}}">
            {{graph[0][0] |safe}}
        </div>
    </div>
    {% endif %}

{% endblock %}
